body {
    font-family: arial, tahoma, verdana, serif;
    font-size: 12pt;
    line-height: 1.5em;
    background-color: lightgrey;
}

h1, {
    font-size: 250%;
}

h1, h2 {
    text-align: center;
    }
.pochylony {
font-style: italic;
}

.pogrubiony {
    font-weight: bold;
}

li {
    font: normal 16px/30px Gabriola, serif;
}
    
.tekst1 {
    color: #2FD581;
}

.tekst2 {
    color: #FF7D0C;
}

